@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

.blogPost {
    font-family: Poppins;
    border: 2px solid blanchedalmond;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 15vh 10vh 75vh;
    grid-template-areas:
    "hd hd hd hd"
    "nav nav nav nav"
    "snav main main main"
    "ft ft ft ft"
    ;
}

.article {
    font-family: Poppins;
    border: 2px solid green;
    grid-area: main;
    display: flex;
}